/* Gotta make the site look SNAZZY! */

@font-face { font-family: Commodore-pixel; src: url('fonts/Commodore-64.TTF'); } 
@font-face { font-family: Commodore-angle; src: url('fonts/Commodore_Angled.ttf'); } 
@font-face { font-family: Commodore-round; src: url('fonts/Commodore_Rounded.ttf'); } 

h1 {
    font-size: 200%;
}

p {
    line-height: 100%;
    font-size: 100%;
}
html {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: white;
}

a {
    color:white;
}

form {
    text-align: left;
}

body {
    text-align: center;
    background-color: purple;
    -webkit-animation: animate_bg 5s;
    animation: animate_bg 5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
@keyframes animate_bg {
    0%   {background:#DC00FE;}
    50%   {background:#5319FB;}
    100%   {background:#1B02A3;}
    100%   {background:#DC00FE;}
}
@-webkit-keyframes animate_bg {
    0%   {background:#DC00FE;}
    50%   {background:#5319FB;}
    100%   {background:#1B02A3;}
    100%   {background:#DC00FE;}
}

button{
    font-family: Commodore-pixel, 'Open Sans', Arial, Helvetica, sans-serif;
    background-color: #ffffff; 
    border: solid;
    border-radius: 10%;
    border-width: thin;
    color: black;
    padding: 1% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 1%;
}

#welcome {
    margin: 0;
}

.center {                
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50%;
    }

.health {
    width: 100%;
    font-size: 5%;
    margin-bottom: 0.5%;
}

#health_bars{
    left: 35%;
    position: absolute;
    width: 30%;
}

.errors{ background-color:red; display:none; padding: 2%}
.greenlight {background-color:green;display:none; padding: 2%}